<div class="jumbotron">
  <h3>Competences search</h3>
    <form name="searchRecyclageForm" role="competenceSearch" ng-submit="search()">
        <div class="form-group">
            <select name="competence" ng-model="competence">
              <option ng-repeat="(key, value) in list_comp" value="{{ key }}">{{ value }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="search.working">
            search
        </button>
    </form>

    <form name="searchEmailForm" role="searchEmail" ng-submit="searchemail()" ng-if="!search.working && data.list">       
        <button type="submit" class="btn btn-default"  ng-disabled="searchemail.working">
            Get emails list
        </button>
    </form>
    <h4 ng-if="emails">{{ emails }}</h4> 
    <h2 ng-if="data.list">A recycle cette annee</h2>
    <table class="table table-bordered table-striped" ng-if="data.list">
        <thead>
            <tr>            
                <th>Nivol</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in data.list">
                <td>{{person.nivol}}</td>
                <td>{{person.prenom}}</td>
                <td>{{person.nom}}</td>
                <td>{{person.date}}</td>
            </tr>
        </tbody>
    </table>
    <h2 ng-if="data.list">Perdu la competence</h2>
    <table class="table table-bordered table-striped" ng-if="data.list">
        <thead>
            <tr>            
                <th>Nivol</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in data.out">
                <td>{{person.nivol}}</td>
                <td>{{person.prenom}}</td>
                <td>{{person.nom}}</td>
                <td>{{person.date}}</td>
            </tr>
        </tbody>
    </table>
</div>
