<div class="jumbotron">
  <h3>Competences search</h3>
    <form name="searchRecyclageForm" role="competenceSearch" ng-submit="search()">
        <div class="form-group">
            <!-- <input type="text" class="form-control" ng-model="competence" name="competence" placeholder="Competence"> -->
            <select name="competence" ng-model="competence">
              <option value="PSE1">PSE1</option>
              <option value="PSE2">PSE2</option>
              <option value="CIP2">CIP2</option>
              <option value="OPR">OPR</option>
              <option value="FIPS">FIPS</option>
              <option value="RECFPS">FPS</option>
              <option value="FPSC">FPSC</option>
              <option value="RECPICF">PICF</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default hidden-devices" ng-disabled="search.working">
            search 
        </button>
    </form>

    <h2>A recycle cette annee</h2>
    <table class="table table-bordered">
        <thead>
            <tr>            
                <th>Nivol</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in data.list">
                <td>{{person.nivol}}</td>
                <td>{{person.prenom}}</td>
                <td>{{person.nom}}</td>
                <td>{{person.date}}</td>
            </tr>
        </tbody>
    </table>

    <h2>Perdu la competence</h2>
    <table class="table table-bordered">
        <thead>
            <tr>            
                <th>Nivol</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in data.out">
                <td>{{person.nivol}}</td>
                <td>{{person.prenom}}</td>
                <td>{{person.nom}}</td>
                <td>{{person.date}}</td>
            </tr>
        </tbody>
    </table>


    <h2>native json</h2>
    <p>the real json object</p>
    <pre>
    <code>
    {{ data | json }}
    </code>
    </pre>

</div>
