<div class="jumbotron">
    <h2>Liste des benevoles <small>Utilisable avec les droits "admin" dans Pegass</small></h2>
    <form name="searchEmailForm" role="searchEmail" ng-submit="searchemail()" ng-if="data.list">
        <button type="submit" class="btn btn-default" ng-disabled="searchemail.working">
            Get emails list 
        </button>
    </form>
    <h4 ng-if="emails">{{ emails }}</h4>
    <table ng-table="benadmin.tablelist" class="table table-bordered table-striped">        
        <tr ng-repeat="person in $data">
            <td data-title="'Nivol'">{{person.id}}</td>
            <td data-title="'Prenom'" sortable="'prenom'">{{person.prenom}}</td>
            <td data-title="'Nom'" sortable="'nom'">{{person.nom}}</td>
            <td data-title="'Email'" sortable="'email'" ng-if="admin">
                <i class="fa" ng-click="change(person, 'email')" ng-class="{ 'fa-check': person.allow_email, 'fa-times': !person.allow_email }" ng-style="person.allow_email ? {'color':'green'} : {'color':'red'}"></i>
            </td>
            <td data-title="'External'" sortable="'email'" ng-if="admin">
                <i class="fa" ng-click="change(person, 'external')" ng-class="{ 'fa-check': person.allow_external, 'fa-times': !person.allow_external }" ng-style="person.allow_external ? {'color':'green'} : {'color':'red'}"></i>
            </td>
        </tr>
    </table>
</div>