<div class="jumbotron">
  <div ng-hide="!ls.isLogged">
    <h2>Bonjour {{ ls.user.utilisateur.prenom }} {{ ls.user.utilisateur.nom }}</h2>
    <p>
      Nivol: {{ ls.user.utilisateur.id }}
   </p>
   <p>
      ul: {{ ls.user.structuresAdministrees[0].libelle }}
   </p>
   <p>
      Role: {{ ls.userRole.title }}
   </p>
   <p>
      Can admin: {{ ls.user.admin.peutAdministrer }}
    </p>
    <p ng-if="ls.user.utilisateur.id=='00001376977M' && !isAuthenticated()">
        <button ng-click="loginGoogle()">Connect with google</button>
    </p>
    <p ng-if="isAuthenticated()">
        {{ ls.gwt | json }}
    </p>
    <p ng-if="isAuthenticated()">
        <button ng-click="logoutGoogle()">Disconnect from google</button>
    </p>
  </div>

  <div ng-hide="ls.isLogged">
    <h2>Please login with Pegass login / password</h2>
    <p>
      Ce site dépend de Pegass et donc des données qui ont été remplies. (en particulier pour les stats)
    </p>
  </div>
</div>