<div class="jumbotron">
    <h2>Liste des benevoles</h2>
    <form name="searchEmailForm" role="searchEmail" ng-submit="getEmails()" ng-if="data.list">       
        <button type="submit" class="btn btn-default"  ng-disabled="searching">
            <i class="fa fa-envelope" aria-hidden="true"></i> Obtenir les emails <i class="fa" ng-class="searching ? 'fa-cog fa-spin' : 'fa-search '"></i>
        </button>
    </form>
    <p ng-if="emails">{{ emails }}</p> 
    <table class="table table-bordered table-striped" ng-if="data.list">
        <thead>
            <tr>            
                <th>Nivol</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Actif</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in data.list">
                <td>{{person.id}}</td>
                <td>{{person.prenom}}</td>
                <td>{{person.nom}}</td>
                <td>{{person.actif}}</td>
            </tr>
        </tbody>
    </table>
 
</div>
