<div class="jumbotron">
    <h3>Chercher un role</h3>
    <form name="searchCompetenceForm" role="form" ng-submit="search()">
        <div class="form-group">
            <select name="role" ng-model="role">
              <option ng-repeat="(key, value) in list_role" value="{{ key }}">{{ value }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="search.working">
            search 
        </button>
    </form>

    <form name="searchEmailForm" role="form" ng-submit="getEmails()" ng-if="data.list">
        <button type="submit" class="btn btn-default"  ng-disabled="searching">
            Obtenir les emails <i class="fa" ng-class="searching ? 'fa-cog fa-spin' : 'fa-search '"></i>
        </button>
    </form>
    <p ng-if="emails">{{ emails }}</p>

    <table class="table table-bordered table-striped" ng-if="data.list">
        <thead>
            <tr>
                <th>Nivol</th>
                <th>Prenom</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in data.list">
                <td>{{person.nivol}}</td>
                <td>{{person.prenom}}</td>
                <td>{{person.nom}}</td>
            </tr>
        </tbody>
    </table>


    <!--<h3 ng-if="data.list">native json</h3>
    <pre ng-if="data.list">
        <code>{{ data | json }}</code>
    </pre>-->

</div>