<div class="jumbotron">
    <h3>Annee</h3>
    <p>
        <select 
            ng-model="year"
            ng-change="getData()">
            <option value="2016" selected>2016</option>
            <option value="2015">2015</option>
        </select>
    </p>
    <p>
        Nombre de maraudes complètes: {{ data.nb_maraude }}
    </p>
    <h3>Liste des CEs</h3>
    <table class="table table-bordered table-striped" ng-if="data">
        <thead>
            <tr>            
                <th>Nivol</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Nombre de maraude</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="formateur in data.chef">
                <td>{{formateur.id}}</td>
                <td>{{formateur.prenom}}</td>
                <td>{{formateur.nom}}</td>
                <td>{{formateur.nombre}}</td>
            </tr>
        </tbody>
    </table>
    <h3>Liste des maraudeurs</h3>
    <table class="table table-bordered table-striped" ng-if="data">
        <thead>
            <tr>            
                <th>Nivol</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Nombre de maraude</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="formateur in data.maraudeur">
                <td>{{formateur.id}}</td>
                <td>{{formateur.prenom}}</td>
                <td>{{formateur.nom}}</td>
                <td>{{formateur.nombre}}</td>
            </tr>
        </tbody>
    </table>
    <h3>Sessions annulées</h3>
    <table class="table table-bordered table-striped" ng-if="data">
        <thead>
            <tr>            
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="formateur in data.annulee">
                <td>{{formateur.date}}</td>
            </tr>
        </tbody>
    </table>
    <h3>Sessions incompletes</h3>
    <table class="table table-bordered table-striped" ng-if="data">
        <thead>
            <tr>            
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="formateur in data.incomplete">
                <td>{{formateur.date}}</td>
            </tr>
        </tbody>
    </table>
</div>
