<div class="jumbotron">
    <div class="login-error" ng-class="{ 'active': wait }">
      <div class="alert alert-danger"><b>Calcul en cours</b> Seul ceux qui sont assez fous pensent que Pegass ca va vite...</div>
    </div>
    <h3>Annee</h3>
    <p>
        <select 
            ng-model="year"
            ng-change="getDonne()">
            <option value="2016" selected>2016</option>
            <option value="2015">2015</option>
        </select>
    </p>
    <p>
        Nombre de maraudes complètes: {{ donnee.nb_maraude }}
    </p>
    <h3>Liste des CEs</h3>
    <table ng-table="statmrd.tablechef" class="table table-bordered table-striped">        
        <tr ng-repeat="formateur in $data">
            <td data-title="'Nivol'">{{formateur.id}}</td>
            <td data-title="'Prenom'" sortable="'prenom'">{{formateur.prenom}}</td>
            <td data-title="'Nom'" sortable="'nom'">{{formateur.nom}}</td>
            <td data-title="'Nombre'" sortable="'nombre'">{{formateur.nombre}}</td>
        </tr>
    </table>
    <h3>Liste des maraudeurs</h3>
    <table ng-table="statmrd.tablemaraudeur" class="table table-bordered table-striped">        
        <tr ng-repeat="formateur in $data">
            <td data-title="'Nivol'">{{formateur.id}}</td>
            <td data-title="'Prenom'" sortable="'prenom'">{{formateur.prenom}}</td>
            <td data-title="'Nom'" sortable="'nom'">{{formateur.nom}}</td>
            <td data-title="'Nombre'" sortable="'nombre'">{{formateur.nombre}}</td>
        </tr>
    </table>
    <h3>Sessions annulées</h3>
    <table class="table table-bordered table-striped" ng-if="donnee">
        <thead>
            <tr>            
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="formateur in donnee.annulee">
                <td>{{formateur.date}}</td>
            </tr>
        </tbody>
    </table>
</div>
