<div class="jumbotron">
    <h3>Liste des formateurs</h3>
    <table class="table table-bordered table-striped" ng-if="data">
        <thead>
            <tr>            
                <th>Nivol</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Nombre de PSC1</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="formateur in data.formateurs">
                <td>{{formateur.id}}</td>
                <td>{{formateur.prenom}}</td>
                <td>{{formateur.nom}}</td>
                <td>{{formateur.nombre}}</td>
            </tr>
        </tbody>
    </table>
    <h3>Liste des assistants</h3>
    <table class="table table-bordered table-striped" ng-if="data">
        <thead>
            <tr>            
                <th>Nivol</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Nombre de PSC1</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="formateur in data.assistants">
                <td>{{formateur.id}}</td>
                <td>{{formateur.prenom}}</td>
                <td>{{formateur.nom}}</td>
                <td>{{formateur.nombre}}</td>
            </tr>
        </tbody>
    </table>
    <h3>Session incomplete</h3>
    <table class="table table-bordered table-striped" ng-if="data">
        <thead>
            <tr>            
                <th>Date</th>
                <th>Formateur</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="formateur in data.session_incomplete">
                <td>{{formateur.date}}</td>
                <td>{{formateur.formateur}}</td>
            </tr>
        </tbody>
    </table>
    <h3>Session annulée</h3>
    <table class="table table-bordered table-striped" ng-if="data">
        <thead>
            <tr>            
                <th>Date</th>
                <th>Formateur</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="formateur in data.session_annulee">
                <td>{{formateur.date}}</td>
                <td>{{formateur.formateur}}</td>
            </tr>
        </tbody>
    </table>
</div>
