<div class="jumbotron">
    <div class="login-error" ng-class="{ 'active': wait }">
      <div class="alert alert-danger"><b>Calcul en cours</b> Seul ceux qui sont assez fous pensent que Pegass ca va vite...</div>
    </div>
    <h3>Annee</h3>
    <p>
        <select 
            ng-model="year"
            ng-change="getDonne()">
            <option value="2016" selected>2016</option>
            <option value="2015">2015</option>
        </select>
    </p>
    <p>
        Nombre total: {{ donnee.nb_mission }}
    </p>
    <h3>Liste des CIs</h3>
    <table ng-table="statrc.tableci" class="table table-bordered table-striped">        
        <tr ng-repeat="formateur in $data">
            <td data-title="'Nivol'">{{formateur.id}}</td>
            <td data-title="'Prenom'" sortable="'prenom'">{{formateur.prenom}}</td>
            <td data-title="'Nom'" sortable="'nom'">{{formateur.nom}}</td>
            <td data-title="'Nombre'" sortable="'nombre'">{{formateur.nombre}}</td>
        </tr>
    </table>
    <h3>Liste des CHs</h3>
    <table ng-table="statrc.tablech" class="table table-bordered table-striped">        
        <tr ng-repeat="formateur in $data">
            <td data-title="'Nivol'">{{formateur.id}}</td>
            <td data-title="'Prenom'" sortable="'prenom'">{{formateur.prenom}}</td>
            <td data-title="'Nom'" sortable="'nom'">{{formateur.nom}}</td>
            <td data-title="'Nombre'" sortable="'nombre'">{{formateur.nombre}}</td>
        </tr>
    </table>
    <h3>Liste des PSE2s</h3>
    <table ng-table="statrc.tablepse2" class="table table-bordered table-striped">        
        <tr ng-repeat="formateur in $data">
            <td data-title="'Nivol'">{{formateur.id}}</td>
            <td data-title="'Prenom'" sortable="'prenom'">{{formateur.prenom}}</td>
            <td data-title="'Nom'" sortable="'nom'">{{formateur.nom}}</td>
            <td data-title="'Nombre'" sortable="'nombre'">{{formateur.nombre}}</td>
        </tr>
    </table>
    <h3>Liste des PSE1s</h3>
    <table ng-table="statrc.tablepse1" class="table table-bordered table-striped">        
        <tr ng-repeat="formateur in $data">
            <td data-title="'Nivol'">{{formateur.id}}</td>
            <td data-title="'Prenom'" sortable="'prenom'">{{formateur.prenom}}</td>
            <td data-title="'Nom'" sortable="'nom'">{{formateur.nom}}</td>
            <td data-title="'Nombre'" sortable="'nombre'">{{formateur.nombre}}</td>
        </tr>
    </table>
    <h3>Liste des PSC1s</h3>
    <table ng-table="statrc.tablepsc" class="table table-bordered table-striped">        
        <tr ng-repeat="formateur in $data">
            <td data-title="'Nivol'">{{formateur.id}}</td>
            <td data-title="'Prenom'" sortable="'prenom'">{{formateur.prenom}}</td>
            <td data-title="'Nom'" sortable="'nom'">{{formateur.nom}}</td>
            <td data-title="'Nombre'" sortable="'nombre'">{{formateur.nombre}}</td>
        </tr>
    </table>
</div>
