<div class="jumbotron">
  <div ng-hide="!ls.isLogged" ng-if="isAuthenticated">
    <div class="login-error" ng-class="{ 'active': wait }">
      <div class="alert alert-danger"><b>Calcul en cours</b> Wait for Google...</div>
    </div>
    <table ng-table="gss.tableinscrits" class="table table-bordered table-striped">        
        <tr ng-repeat="inscrit in $data">
            <td data-title="'Date'" sortable="'dateFormation'">{{inscrit.dateFormation | date :'dd-MM-yyyy'}}</td>
            <td data-title="'Type Formation'" sortable="'typeFormation'">{{inscrit.typeFormation}}</td>
            <td data-title="'Civilite'">{{inscrit.civilite}}</td>
            <td data-title="'Prenom'">{{inscrit.prenom}}</td>
            <td data-title="'Nom'">{{inscrit.nom}}</td>
            <td data-title="'Date Naissance'">{{inscrit.datenaissance}}</td>
            <td data-title="'Lieu Naissance'">{{inscrit.lieunaissance}}</td>
            <td data-title="'Adresse'">{{inscrit.adresse}}</td>
            <td data-title="'Code Postal'">{{inscrit.codepostal}}</td>
            <td data-title="'Ville'">{{inscrit.ville}}</td>
            <td data-title="'Telephone'">{{inscrit.phone}}</td>
            <td data-title="'Email'">{{inscrit.email}}</td>
            <td data-title="'Message'">{{inscrit.message}}</td>
        </tr>
    </table>
    <p>
      <pre>
        <code>{{ data }}</code>
      </pre>
    </p>
  </div>
</div>